{% extends 'base.html.twig' %}
{% block title %}music | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('music') }}
{% endblock %}
{% block og_meta %}
    {% set og_image = 'images/david.music-default.jpg' %}
    {% set og_title = 'David Mintz, singer/guitarist' %}
    {% set og_description = "David Mintz is a classically trained guitarist and vocalist specializing in jazz standards. His straightforward approach emphasizes the elegance, wit and beauty of the American Songbook. David's performances at various venues around Martha's Vineyard have been warmly received." %}

    {% if "now"|date("Y-m-d") < "2026-04-12" %}
        {% set og_image = 'images/darby-and-david.og.jpg' %}
        {% set og_title = 'Darby Patterson & David Mintz — April 11, OB Library' %}
        {% set og_description = 'Jazz standards performed with warmth and wit by the D&D Duo, Darby Patterson and David Mintz. April 11, 2:00pm, Oak Bluffs Library, Martha’s Vineyard.' %}
    {% endif %}

    <meta property="og:image" content="{{ absolute_url(asset(og_image)) }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ og_description }}">
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:url" content="https://davidmintz.org/music">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ absolute_url(asset(og_image)) }}">
{% endblock %}
{% block body %}
   <!-- <h1>music</h1> --><!--  style="font-size: 400%"-->
    {% set gigs = true %}
    {% if (gigs) %}<h2>Upcoming!</h2>{%  endif %}
    <p class="p-2 rounded border border-success text-start credit-note">A recital series funded in part by the
        Martha’s Vineyard Cultural Council, a local agency
        which is supported by the Mass Cultural Council, a state agency.</p>
    <div class="music-hero my-4" >

        <h1 class="display-5 fw-semibold mb-2">The Great American&nbsp;Songbook</h1>

        <p class="lead mb-4">
            Timeless jazz standards by Cole Porter, George Gershwin, Irving Berlin, and others.
            <em>Também se canta português – bossa nova de Jobim e outros.</em>
        </p>
        <p class="mt-3 mb-2 fs-4 fw-semibold">
            performed by David Mintz, singer/guitarist
        </p>


        <div class="my-4"> <!-- IMG_1775.cropped.monitor-in-background.resized.jpg scaled.IMG_1775.jpg  -->
            <img src="{{ asset('images/IMG_1775.cropped.monitor-in-background.resized.jpg') }}" class="img-fluid" style="max-height:60vh" alt="David Mintz with guitar">
            <br><span class="text-opacity-75">Photo credit: <a href="https://www.instagram.com/memeatball/" target="_blank" rel="noopener">Alex Wright</a></span>
        </div>

        <p class="fs-4 fw-semibold mb-1 gigline">
            Thursday May 29, 2026&nbsp;3:00&nbsp;pm<br>
            <!--<span class="d-none d-sm-inline">bull;</span> -->

            Edgartown Public Library<br>
            26 West Tisbury Road<br>
            Edgartown, MA 02539

        </p>


        <p class="mb-1">free and open to the public</p>
         <p class="mb-3 invite-line">
            Come and enjoy these beautiful,
            <span class="d-block d-sm-inline">
                witty and elegant compositions!
            </span>
        </p>




    </div>

    <div class="my-4" id="ddd" hidden>{# if hidden, we keep markup around for reference & past event #}
        <h1 class="display-5 fw-semibold mb-2 text-center">D &amp; D Duo</h1>
        <p class="mb-2 fw-bold  text-center">
            <span style="font-size: larger" >Darby Patterson</span>
            <span class="fw-normal d-none d-sm-inline">and</span>
            <span style="font-size: larger" class="d-block d-sm-inline fw-semibold">David Mintz</span>
        </p>
        <img src="{{ asset('images/darby-and-david.jpg') }}" alt="Darby and David sit on a couch looking contented and comfortable" class="img-fluid">
        <p class="mb-2 text-center" style="font-size: 150%">
            <span class="fw-bold">Saturday,&nbsp;April 11,&nbsp;2026</span>
            <span class="d-none d-sm-inline"> | </span>
            <span class="fw-bold d-block d-sm-inline">Oak Bluffs Library</span>
        </p>
        <p>
            The duo of singer Darby Patterson and guitarist/singer David Mintz presents a program of jazz standards at
            the Oak Bluffs Library on Saturday, April 11, 2026 at 2:00 pm. Their program features standards by 20th-century
            masters like Cole Porter, Irving Berlin, and George Gershwin, along with bilingual renditions of
            bossa nova by Antônio Carlos Jobim.</p>
        <p class="fst-italic mb-4">
            Sejam bem-vindos a desfrutar destas belas e elegantes canções!
        </p>
        <p>
        Darby and David have been delighting audiences with their combined skills, shared love of vocal jazz, and characteristically goofy stage presence.
            </p><p>
        Since she makes a living by talking and singing, Darby Patterson loves to keep her bios short and sweet: Darby is a homegrown vocalist, flower farmer, and former pro coffee slinger. She is thrilled to be here, playing jazz with David and enjoying the bliss of offseason shows!
        </p><p>
        “Bad Dog” David Mintz was once an accomplished classical guitarist who gave it up in favor of stable employment as a Spanish interpreter in federal court.
        In retirement, he went back to music and took up the American Songbook. Further biographical details are below.
        The attention-craving eccentric can be seen walking his dog around Oak Bluffs and singing loudly, even when he's not high on anything.
        </p><p><em>
        This program is funded in part by a grant from the Martha's Vineyard Cultural Council, a local agency which is supported by Mass Cultural Council, a state agency.
            </em></p>
    </div>
    <hr class="w-80 mx-auto my-4">
    <h2>Bad Dog David's bio</h2>
    <p>I studied classical guitar when I was young, earning an undergraduate degree from the
    Hartt School of Music followed by a Masters at the University of Arizona's School of Music.
        After a few years of concertizing and part-time teaching, I abandoned the guitar
        in favor of stable employment as a Spanish interpreter in federal court in Manhattan, where I
    remained until retiring in 2020.</p>
    <p>Approaching retirement, I returned to the guitar, but rather than pursuing the classical
    discipline, I turned to the Great American Songbook &mdash; early to mid-20th century pop songs and jazz standards
        by composers such as Cole Porter, George Gershwin, and Jerome Kern.
        My approach is straightforward, striving simply to present these compositions in all their beauty, elegance and wit.
    </p>
    <p>I have also gotten a few tastes of acting, and greatly enjoyed it &mdash; and did not get booed off the stage.</p>
    <p>I live in a state of near-continuous bliss in Oak Bluffs with my wife, three cats and dog.</p>
    <p>
        I made <a href="https://youtu.be/tEy6FZpr5e4">this recording</a> at Parr Audio in Oak Bluffs, Massachusetts in December, 2024.
    </p>
    </p>
    <div class="ratio ratio-16x9 mb-3">
        <iframe src="https://www.youtube.com/embed/tEy6FZpr5e4?rel=0" title="David Mintz, singer and guitarist" allowfullscreen></iframe>
    </div><p>My performances in several venues on Martha's Vineyard have been warmly received. Audiences like
        this music, but it's not frequently heard on the island. Please email, call or text me at 201 978-0608
        if you're interested in hiring me.</p>
{%  endblock %}
